<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data List</title>
</head>
<body>
    <h1>Data List from MongoDB</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.usename }}</td>
                    <td>{{ item.password }}</td>
                </tr>
                
            {% empty %}
                <tr>
                    <td colspan="3">No data available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
